@import url('https://fonts.googleapis.com/css2?family=Lexend&display=swap');

:root {
  --white: #ffffff;
  --black: #424242;
  --blackInContainer: #424242;
  --gray: #5D5C5C;
  --light-gray: #939393;
  --light-lilac: #CBD0EF;
  --darker-lilac: #A1A8D5;
  --red: #E5C6C6;
  --yellow: #E3E5C6;
  --green: #C6E5C8;

  color: var(--black);
  background-color: var(--white);

  font-family: "Lexend", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.dark{
  --white: #2A2A2A;
  --black: #ffffff;
  --light-gray: #939393;
}

html, body {
  transition: background-color 0.3s ease, color 0.3s ease;
}


body{
    background-color: var(--white);
    color: var(--black);
    margin: 0;
    height: 100vh;
}

button{
  font-family: inherit;
  color: var(--black);
  font-size: 20px;
  background-color: var(--white);
  cursor: pointer;

}

button:hover{
  background-color: #71717546;
}

.short-btn{
  width: 151px;
  max-width: 151px;
}

.border{
  padding: 12px 0px;
  border: 1px solid var(--black);
  border-radius: 14px;
  width: 100%;
}

.light-border{
  padding: 0px 15px;
  border: 1px solid var(--light-gray);
  border-radius: 14px;
  width: 100%;
}

a:link,
a:visited{
  color: var(--darker-lilac);
  text-decoration: none;
}
#centralizer {
  max-width: 970px;
  margin: auto;
}

.dateP{
  text-align: center;
  color: var(--gray)
}

.red{
  background-color: var(--red);
}

.yellow{
  background-color: var(--yellow);
}

.green{
  background-color: var(--green);
}

@media (max-width: 1200px){
    #centralizer{
    max-width: clamp(90%, 52vw, 80%);
    margin: auto;
  }
}

@media (max-width: 800px) {
  #centralizer{
    max-width: clamp(90%, 52vw, 80%);
    margin: auto;
  }


  .lilac-container{
    min-width: 100%;
  }

  
}



