@import url('https://fonts.googleapis.com/css2?family=Lexend&display=swap');

:root {
  --white: #ffffff;
  --black: #424242;
  --blackInContainer: #424242;
  --gray: #5D5C5C;
  --light-gray: #939393;
  --light-lilac: #CBD0EF;
  --darker-lilac: #A1A8D5;
  --red: #E5C6C6;
  --yellow: #E3E5C6;
  --green: #C6E5C8;

  color: var(--black);
  background-color: var(--white);

  font-family: "Lexend", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;

}

.dark{
  --white: #2A2A2A;
  --black: #ffffff;
  --light-gray: #939393;

}

body{
    background-color: var(--white);
    color: var(--black);
    margin: 0;
}

button{
  font-family: inherit;
  color: var(--black);
  font-size: 20px;
  background-color: var(--white);

}

.short-btn{
  width: 151px;
  max-width: 151px;
}

.border{
  padding: 12px 0px;
  border: 1px solid var(--black);
  border-radius: 14px;
  width: 100%;
}

}

a:link,
a:visited{
    color: var(--darker-lilac);
    text-decoration: none;
}
#centralizer {
    width: 67%;
    margin: auto;
}