#wrapper{
    margin: 15px 0px;
}

.lilac-container{
    background-color: var(--light-lilac);
    color: var(--blackInContainer);
    text-align: center;
    border: none;
    padding: 12px 0px;
    border-radius: 14px;
    width: 312px;
    font-size: 24px;
    
}

.lilac-container > p {
    margin: 0;
}

#top-wrapper{
    margin: 15px 0px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#bottom-wrapper{
    /* width: 312px; */
    display: flex;
    justify-content: space-between;
    gap: 9px;
    
}

#wrapper button{
    background-color: var(--white);
    transition: background-color 0.3s ease, color 0.3s ease;
}

#bottom-wrapper button:last-of-type{
    width: fit-content;
    padding: 0px 10px;
    margin-left: auto;
}

#top-wrapper button:last-of-type{
    max-width: 205px;
    margin-left: auto;
}