.todo-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    margin-bottom: 16px;
    padding: 14px 20px;
}

.todo-name{
    font-size: 18px;
    margin: 4px 0px;
}

.todo-description{
    color: var(--gray);
    font-size: 15px;
    margin: 0;
}

.todo-status{
    color: var(--blackInContainer);
    padding: 7px 15px;
    font-size: 20px;
    border-radius: 5px;
    margin: 0;
}