#kanban-container{
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;

    
}

.kanban-column{
    width: 315px;
    min-height: 320px; 
    margin-right: 10px;

}

.kanban-header{
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    color: var(--blackInContainer);
}